<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<form method="post">
    <input title="Enter Name" type="text" name="text">
    <button type="submit">Send</button>
</form>
</body>
</html>