<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


<form method="post">
    <input title="Enter Name" type="text" name="title">
    <br>
    <textarea title="Enter Text" name="body" cols="30" rows="10"></textarea>
    <button type="submit">Send</button>
</form>
</body>
</html>