<% include layout/header.ejs %>

<div class="col-sm-12 col-md-8">
    <div class="articles">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-primary">Далее...</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span>Автор: Роман | 10.10.2018</span>
                <span class="text-right">Комментарии</span>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-primary">Далее...</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span>Автор: Роман | 10.10.2018</span>
                <span class="text-right">Комментарии</span>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-primary">Далее...</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span>Автор: Роман | 10.10.2018</span>
                <span class="text-right">Комментарии</span>
            </div>
        </div>
    </div>
    <!--articles-->
</div>
<div class="col-sm-12 col-md-4">
    <% include layout/sidebar.ejs %>
</div>
<% include layout/footer.ejs %>