</div>
</div>
</div>
</div>
<!--wrapper-->

<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script src="<%= assetFingerprint('/javascript/script.js') %>"></script>
</body>
</html>